.bannerBotão{
    position: absolute;
    height: 30px;
    width: 100px;
    margin-top:310px;
    margin-left: 220px; 
}
.botão{    
    border-radius: 10px;
    height: 30px;
    width: 100px;
    background-color: #3048a1;
    color: #fff;  
    font-size: 0.9rem;
    border: none; 
}
.botão:hover{
    background-color: #3a58c5;
}