.boletos{
    flex:1;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 10vh; 
    margin-bottom: 20vh;      
}
.divMenuMinhaDelta{
    margin-left: 10vh;
    width: 20vw;      
    border-radius: 1vh;
}
.boletos h1{ 
    margin: 0 0 0 10vh; 
    height: 4vh;
    padding: 0;
    font-size: 1.2rem;          
}
.datasComTitulo{    
    display: flex;
    width: 100%;  
    flex-wrap: wrap;    
}
.datas{
    margin-top:3vh;
    display: flex;
    width: 80%;
    height: 5vh;       
}
.datas p{
    margin: 0 2vw;
    align-self: flex-end;
}
.datas button{
    margin-left: 2vw;
    border-radius: 1vh;
    background-color: #3048a1; 
    color: #fff;  
    font-size: 0.9rem;
    border: none;
}
.datas button:hover{
    background-color: #3a58c5;
}
.datas input{
    border-radius: 1vh;
}
.tabelaBoletos{
  border: solid 1px #cdcdcd;   
  width: 100%;
  margin: 0 10vh;
  height: 80%;
  padding: 2vh;
  box-sizing: border-box;
  border-radius: 1vh; 
}
.tabelaBoletos table{
    border-collapse: collapse;
    width: 100%;
}
.tabelaBoletos tbody{
    text-align: center;
} 
.tabelaBoletos th,td{
    padding: 1vh;    
}
.tabelaBoletos thead tr{
    border-bottom: solid 1px #4b4a4a;;
}
.tabelaBoletos tbody tr:hover{
    background-color: #dedede;
}
.tabelaBoletos tfoot{
    background-color: #4b4a4a;
    color: #fff;
    font-weight: bold;
    text-align: center;    
}
.downloadPdf{    
    height: 4vh;
    width: 2vw;    
    border:none;  
    background-color:rgba(222, 222, 222,0);
    font-size: 1.3rem;
    justify-content: center;
    border-radius: 1vh;
}
.downloadPdf:hover{
    background-color: #dedede;
    transform: scale(1.1); 
}
.tdDownloadPdf{
    display: flex;
    justify-content: center;
}
