body{
  /*background-image: linear-gradient(#FFF, #CCC);*/
  background-color: #fff;
  margin: 0; 
}
.header{  
  height: 400px; 
  width: 100%; 
}
.header p{
  margin: 0;
  padding: 0;  
  height: 400px;
  width: 100%; 
  display: flex;    
  flex-direction: row; 
} 
.headerFundo{
  display: flex;  
  flex-direction: row;
  height: 400px;
  width: 100%;         
}
.headerFundo img{  
  display: none;
  height:400px;
  width: 100%;      
  object-fit: cover;          
}
.headerFundo img:nth-child(1){
  display: block;  
  object-fit: cover;
  /*animation: slidein 3s;
  animation-delay: 2s;*/
}
.headerFundo button{
  position: absolute;
  margin-top:310px;
  margin-left: 220px;
  border-radius: 10px;
  height: 30px;
  width: 100px;
  background-color: #3048a1;
  color: #fff;  
  font-size: 0.9rem;
  border: none; 
}
.headerFundo button:hover{
  background-color: #3a58c5;
}
.container{
  margin-top: 20px;  
  position: absolute;
  display: flex;
  flex-direction: row;  
  width: 100%;
  top: 0px;
  justify-content: space-around; 
}
.logo{  
  height: 35px;
  width: 50px;
  align-self:flex-end;
}      
.logo img{              
  height: 35px;
  width: 50px;
  border-radius: 100%;    
}
.busca{          
  height: 35px;
  display: flex;   
  align-self: center;
  margin-right: 20px;
  box-sizing: content-box;      
}
.busca input{  
  margin: 0; 
  padding: 0;
  width: 300px;
  height: 100%;
  border-radius: 10px;    
}      
.menu{
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;                                       
}
.navegacao{  
  list-style: none;            
  width: 100%;
  display: flex;            
  padding: 0; 
  margin: 0 0 0 0;  
  justify-content:center;                                  
}
.navegacao a{
  font-size:1.2em;
  font-weight: bold;
  text-decoration: none;            
  color: #fff;
  padding: 10px;
  text-shadow: 10px 5px 5px black ; 
}
.navegacao li{
  display: inline-block;
  padding: 10px;            
}
.navegacao a:hover {
  background-color: #3048a1;
  color: #fff;
  width: 100px;  
  border-radius: 10px;             
}
.menu-toggle{
  display:none; 
  background-color: rgba(12, 29, 187, 0);
  color: #fff;
  font-size: 1.2em;
  text-shadow: 10px 5px 5px black ;
  height: 50px;
  width: 50px;
  border-radius: 5px;
  border: none;     
}
.menu-toggle:hover{
  background-color: rgba(20, 72, 131, 0.5);
}
@media(max-width:320px){
  /*.header{
    width: 320px; 
    border: solid 3px green; 
    box-sizing: border-box;       
  }
  .headerFundo{
    width: 320px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
  .headerFundo p{
    margin:0;
    padding: 0;
    width: 320px;
    height: 394px;
  }
  .headerFundo img{
    margin:0;
    padding: 0;
    width: 320px;
    height: 394px; 
     
  }
  .headerFundo img:nth-child(1){  
    width: 320px;
    height: 394px;    
    /*background-image: url(./assets/hospitalar320.png);
  }*/
  .headerFundo button{
    top: 320px;
    left:80px;
    margin: 0;
    height: 30px;
    width: 70px;
    padding: 0;
    font-size: 0.8rem;
  }
  .container{ 
    position: absolute;
    width: 100%; 
    box-sizing: border-box;      
    flex-direction: column;      
  }
  .logo{
    width: 100%;
    box-sizing: border-box;
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    justify-content: space-around;  
  }
  .logo img{       
    box-shadow: 10px 5px 5px black ;
  }
  .menu-toggle{
    display:block;
  }
  .busca{display: none;} 
  .navegacao{display:none;}  
  .home{display:none;}
  .rodape{display: none;}
}
@keyframes slidein {
  to {
    margin-left: 0%;
    width: 100%;
  }
  from {
    margin-left: 100%;
    width: 100%;
  }
}
.rodape{ 
  margin-top: 80px;
  background-color: rgb(248, 246, 246); 
  color: rgb(3, 10, 24);    
  align-self: flex-end;
  height: 200px;
  width: 100%;     
  box-sizing:border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;  
}
.rodape h2{  
  font-size: 1.3rem;
}
.logoMarca{  
  display:flex;
  flex-direction: column;
  align-items: center;
}
.logoMarca img{
  border-radius: 100%;
  height: 80px;
  width: 80px;
}
.logoMarca p{    
  font-size: 0.9em;
  align-self: center;
}
.contato{   
  align-self:center; 
}
.localização{  
  align-self:center;
  width: 300px;
}
.contato p, .localização p{
  font-size: 0.9rem;
}
#maisVendidos{
  text-align: center;
  color: rgb(61, 59, 59);
  padding-top: 30px;
  font-size: 2.0rem;
  text-shadow: 10px 5px 5px rgb(207, 207, 207) ;
}
.principal{  
  display: flex;
  flex-direction: row;  
  flex-wrap: wrap;    
  justify-content: flex-start;    
}
.produto{  
  border-radius:0px 50px 0px 20px;
  box-shadow: 10px 5px 5px rgb(110, 110, 110);  
  width: 300px;
  height: 300px;
  margin: 60px;
}
.produto:hover{
  /*-moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);*/
  transform: scale(1.1);  
}
.produto img{
  border-radius:0px 50px 0px 20px;   
  width: 300px;
  height: 300px;
  
}

