.busca{   
    
 /*   top: 50px;
  margin-left: 400px; 
    margin-right: 20px;       
  */
    height: 5vh;
    /*display: flex;   
    align-self: center;*/
    box-sizing: content-box;  
   /* border:solid 1px blue;    */
  }
  .busca input{  
    margin: 0; 
    padding: 0;    
    width: 18vw;
    height: 100%;
    border-radius: 1.5vh;    
  }     
@media (max-width:1069px) {
  .busca input{
    width: 20vw;    
  }
} 
@media (max-width:768px) {
  .busca{
      display: none;   
  }

}