.menu{
    position: absolute;           
    top: 50px;
    right: 0;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around; 
}
.navegacao{  
    list-style: none;            
    width: 100%;
    display: flex;            
    padding: 0; 
    margin: 0 0 0 0;  
    justify-content:center;                                  
}
.navegacao a{
    font-size:1.2rem;
    font-weight: bold;
    text-decoration: none;            
    color: #fff;
    padding: 10px;
    text-shadow: 8px 5px 5px black ; 
}
.navegacao li{
    display: inline-block;
    padding: 10px;            
}
.navegacao a:hover {
    background-color: #3048a1;
    color: #fff;
    width: 100px;  
    border-radius: 10px;             
}
.menu-toggle{
    display:none; 
    background-color: rgba(12, 29, 187, 0);
    color: #fff;
    font-size: 1.2em;
    text-shadow: 10px 5px 5px black ;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    border: none;     
}
.menu-toggle:hover{
    background-color: rgba(20, 72, 131, 0.5);
}