.alterarProdutos{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 10vh;
    margin-bottom: 20vh;       
}
.divMenuIntranet{
    margin-left: 10vh;
    width: 20vw;      
    border-radius: 1vh;
}
.listagem h2{
    margin-top:0;
    margin-left: 3vw;    
    font-size: 1.2rem;
}
.listagem ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 80vh;    
    flex-wrap: wrap;    
}
.listagem ul{    
    list-style-type: none; 
    margin-bottom: 3vh; 
}
.listagem ul a, .listagem ul a:visited{
    text-decoration: none;
    color: black;
}
.listagem li{
   margin-left: 4vw;   
   line-height: 1.7;
}

