.TabelaProdutos table{
    width: 100%;
}
.TabelaProdutos th{
    background-color: #0b143a;
    color: white;
}
.TabelaProdutos .Par{
    background-color:#ddd;
}
.TabelaProdutos .Impar{
    background-color:#cccccc00;
}