.bannerTexto{    
    /*margin-top:200px;
    margin-left: 220px;*/
    align-self: center;
    margin-left: 5vw;        
}
.bannerTexto h2{    
    color: #fff;
    text-shadow: 1vh 0.5vh 0.5vh black;  
    font-size: 2rem; 
    padding: 0;
    margin: 0;    
    
    
}
.bannerBotão{  
    margin-left: 0;  
    height: 3vh;
    width: 7vw;
    padding-top: 2vh;    
   /* margin-left: 5vw;*/
    /*height: 30px;
    width: 100px;
    margin-top:310px;
    margin-left: 220px; */    
    

}    
.botão{     
    
    border-radius: 1vh;
    background-color: #3048a1; 
    color: #fff;  
    font-size: 0.9rem;
    border: none;
 
}
.botão:hover{
    background-color: #3a58c5;
}
@media (max-width:1069px) {
    .bannerTexto{
        align-self: center;
        
    }
}
@media (max-width:768px) {
    .bannerTexto{
        align-self: center;
    }
  }