.produtos{
    margin-bottom: 20vh;
}
.produtoComTexto{    
    color: rgb(61, 59, 59);
    display: flex;
    flex-direction: row; 
    /*justify-content: center;             */
}
.produtoTextos{
    display: flex;
    flex-direction: column;    
    width: 50%;
    height: 100%;
    box-sizing: border-box;      
    padding: 4vw;         
}
.produtoTextos h1{ 
    padding: 0;
    margin: 0;
    width: 70%;  
    font-size: 1.5rem;
    text-align: left;
    text-shadow: 1vh 0.5vh 0.5vh  rgb(207, 207, 207) ;
    align-self: center;    
}
.produtoTextos h2{    
    padding: 0;
    margin-top: 0;
    font-size: 1.2rem;
    text-align: justify;
    width: 70%;
    align-self: center;
    text-shadow: 1vh 0.5vh 0.5vh  rgb(207, 207, 207) ;            
}
.produtoTextos p{
    margin:0;
    padding: 0;
    text-align: justify;
    width: 70%;
    align-self: center;
    color: red;
    font-size: 1.2rem;
    font-weight: bold;
}
.produtoTextos h3{    
    font-size: 1.1rem;
    text-align: justify;
    width: 70%;
    align-self: center;
    line-height: 1.4;
    font-weight: 100; 
}
.produtoTextos ul{
    font-size: 1.1rem;
    text-align: justify;
    width: 70%;
    align-self: center;
    line-height: 1.4;
}
#caracteristicas, #duvidas{
    margin-top:6vh;
}
.fundoFoto{    
    background-color: #3048a1;
    width: 50%;
    height:60vh;;
}
.fotoProduto{
    position: absolute;
    align-self: flex-start; 
    width: 25vw;
    height: 45vh;
    background-color: #fff;
    display: flex;
    justify-content: center; 
    border: solid 1px #f1ecec;      
    margin: 4vh 0 0 45vw;
}
.produtos img{
    width: 15vw;
    height: 25vh;    
    border-radius: 1.5vh;
    box-shadow: 1vh 0.5vh 0.5vh rgb(110, 110, 110);
    align-self: center;
    object-fit: contain;
}
.duvidasProduto{    
    align-self: center;
    text-align: left;
    width: 70%;   

}
.duvidasProduto{    
    width: 80%;
    height: 4vh;
    margin-right: 1vw;
    border-radius: 1vh;
}
.duvidasProduto input{
    width: 80%;
    height: 4vh;
    margin-right: 1vw;
    border-radius: 1vh;
    
}
.duvidasProduto button{
    height: 5vh;
    border-radius: 1vh;
    background-color: #3048a1; 
    color: #fff;
    border: none;
}
.duvidasProduto button:hover{
    background-color: #3a58c5;
}