.assinaturasComTexto{
    padding: 2vw 4vw 2vw 2vw;
    color: rgb(61, 59, 59);
    display: flex;
    flex-direction: column;
}
.assinaturasComTexto h1{
    font-size: 1.5rem;
    text-align: center;
    text-shadow: 1vh 0.5vh 0.5vh  rgb(207, 207, 207) ; 
}
.assinaturasComTexto h2{
    font-size: 1.2rem;
}
.assinaturasComTexto h3{
    font-size: 1rem;
    text-align: justify;
}
.assinaturas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.assinatura{
    width: 25vw;
    height: 40vh;    
    border-radius: 1.5vh; 
    background-color: #ddd;
    margin: 4vh;        
    color: rgb(80, 80, 80);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;  
    padding: 4vh;  
    box-sizing: border-box;  
}
.assinatura h2{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 5vh;       
    font-size: 1.2rem;
    text-align: center;  
}
.assinatura h3{
    font-size: 1rem;
    width: 100%;
    height: 15vh;
    margin: 0;
    padding-left: 1vh;
    text-align: justify;
}
.botaoAssinatura{
    width: 10vw;
    height: 5vh;      
    border-radius: 1vh;
    background-color: #3048a1; 
    color: #fff;  
    font-size: 0.8rem;
    border: none;
}
.botaoAssinatura:hover{
    background-color: #3a58c5;
}
