body{
  background-color: rgb(238, 245, 244);
  margin: 0;
  display: flex;
  flex-direction: column;
}
.header{
  overflow: hidden; 
  height: 400px;
  width: 100%;         
}
.header img{  
  height: 100%;
  width: 100%;           
}
.header img:nth-child(1){
  display: block;
  animation: slidein 3s;
  animation-delay: 2s; 
}
.cabecalho{            
  display: flex;
  flex-direction: row;  
  height: 400px;
  align-items: center;                                                    
}
.container{
  display: flex;
}      
.logo img{            
  height: 60px;
  width: 380px;
  margin-left: 20px;
}
.busca{            
  flex-grow: 2;                        
  display: flex;
  justify-content: flex-end;    
}      
.menu{
  background-color: rgb(20, 72, 131);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;                                       
}

.navegacao{
  list-style: none;            
  width: 100%;
  display: flex;            
  padding: 0; 
  margin: 0 0 0 0;
  align-self: flex-end;                                   
}
.navegacao a{
  text-decoration: none;            
  color: rgb(245, 241, 241);
  padding: 10px;                      
}
.navegacao li{
  display: inline-block;            
  flex-grow: 1;                                                   
}
.navegacao a:hover {
  background-color: #4faddb;
  color: #000;
  width: 100px;            
}
.menu-toggle{
  display:none;   
  margin-right: 20px;
  background-color: rgba(12, 29, 187, 0);
  color: #fff;
  width: 30px;           
  height: 30px;
  border-radius: 5px;
  border: none;
  align-self: flex-end;
}
.menu-toggle:hover{
  background-color: rgba(20, 72, 131, 0.5);
}
@media(max-width:412px){
  .navegacao{border:solid 2px red;}
  .container{flex-direction: column;}  
  .menu-toggle{display:block;}
}
.rodape{            
  bottom: 0;
  background-color: rgb(14, 48, 87);
  height: 80px;
  width: 98.8vw;
}
.carrossel{
  border: solid 1px red;
  margin: 5vh 5vw;
  height: 200px;
  border-radius: 10px;
  width: 1295px;                  
  overflow: hidden;   
}
.vitrine{
  border: solid 1px red;
  margin: 5vh 5vw;
  height: 200px;
  border-radius: 10px;
  width: 90vw;                                 
  overflow: hidden;           

}
.vitrine p{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%; 
}
.vitrine img{
  border-radius: 10px;
  height: 100%;
  width: 100%; 
  display: none;
  box-sizing: border-box;                                           
}
.vitrine img:nth-child(1){
  display: block;
}
.categoria{
  border: solid 1px rgb(27, 27, 27, 0.5);
  margin: 5vh 5vw;
  height: 200px;
  border-radius: 10px;
  width: 90vw;
}
.mover {
  animation: slidein 3s;            
}   
@keyframes slidein {
  from {
      margin-left: 100%;
      width: 100%;
  }

  to {
      margin-left: 0%;
      width: 100%;
  }
}
.rodape{      
  align-self: flex-end;
  background-color: rgb(238, 245, 244);;
  height: 140px;
  width: 100%;
  border-top: solid 1px black ;    
  
}
.rodape p{
  color: #000;
  margin-left: 20px;
}

