body{
  background-color: #fff;
  margin: 0; 
}
.header{  
  height: 400px; 
  width: 100%; 
}
.header p{
  margin: 0;
  padding: 0;  
  height: 400px;
  width: 100%; 
  display: flex;    
  flex-direction: row; 
} 
.headerFundo{
  display: flex;  
  flex-direction: row;
  height: 400px;
  width: 100%;         
}
.headerFundo img{  
  display: none;
  height:400px;
  width: 100%;      
  object-fit: cover;          
}
.headerFundo img:nth-child(1){
  display: block;  
  object-fit: cover;
  /*animation: slidein 3s;
  animation-delay: 2s;*/
}

.container{
  margin-top: 20px;  
  position: absolute;
  display: flex;
  flex-direction: row;  
  width: 100%;
  top: 0px;
  justify-content: space-around; 
}
.logo{  
  height: 35px;
  width: 50px;
  align-self:flex-end ;
}      
.logo img{              
  height: 35px;
  width: 50px;
  border-radius: 100%;
    
}
.busca{            
  
  height: 35px;
  display: flex;   
  align-self: center;
  margin-right: 20px;
  box-sizing: content-box;      
}
.busca input{  
  margin: 0; 
  padding: 0;
  width: 300px;
  height: 100%;
  border-radius: 10px;    
}      
.menu{
  
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;                                       
}

.navegacao{  
  list-style: none;            
  width: 100%;
  display: flex;            
  padding: 0; 
  margin: 0 0 0 0;  
  justify-content:center;                                  
}
.navegacao a{
  font-size:1.2em;
  font-weight: bold;
  text-decoration: none;            
  color: #fff;
  padding: 10px;
  text-shadow: 10px 5px 5px black ; 
}
.navegacao li{
  display: inline-block;
  padding: 10px;            
                                                    
}
.navegacao a:hover {
  background-color: #1f337e;
  color: #fff;
  width: 100px;  
  border-radius: 10px;             
}
.menu-toggle{
  display:none;   
  margin-right: 20px;
  background-color: rgba(12, 29, 187, 0);
  color: #fff;
  width: 30px;           
  height: 30px;
  border-radius: 5px;
  border: none;
  align-self: flex-end;
}
.menu-toggle:hover{
  background-color: rgba(20, 72, 131, 0.5);
}
@media(max-width:412px){
  .navegacao{border:solid 2px red;}
  .container{flex-direction: column;}  
  .menu-toggle{display:block;}
}
.rodape{            
  align-self: flex-end;
  background-color: rgb(238, 245, 244);;
  height: 140px;
  width: 100%;
  border-top: solid 1px black ; 
}  
@keyframes slidein {
  to {
    margin-left: 0%;
    width: 100%;
  }
  from {
    margin-left: 100%;
    width: 100%;
  }
}
.rodape{      
  align-self: flex-end;
  background-color: rgb(238, 245, 244);;
  height: 140px;
  width: 100%;
  border-top: solid 1px black ;    
  
}
.rodape p{
  color: #000;
  margin-left: 20px;
}
.principal{
  display: flex;
  flex-direction: row;  
  flex-wrap: wrap;    
  justify-content: flex-start;    
}
.produto{  
  border-radius:0px 50px 0px 20px;
  box-shadow: 10px 5px 5px rgb(110, 110, 110);  
  width: 300px;
  height: 300px;
  margin: 60px;
}
.produto:hover{
  /*-moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);*/
  transform: scale(1.1);  
}
.produto img{
  border-radius:0px 50px 0px 20px;   
  width: 300px;
  height: 300px;
  
}

