.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vh;       
}
#maisVendidos{
    text-align: center;
    color: rgb(61, 59, 59);
    padding: 4vh 0;
    font-size: 1.8rem;
    text-shadow: 1vh 0.5vh 0.5vh  rgb(207, 207, 207) ; 
}
.principal{  
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;    
    justify-content: space-around; 
    width: 98%;  
    align-self: center;   
}
.produto a, .produto a:visited{
    text-decoration: none;
    color: black;
}

.produto{      
    display: flex;
    flex-direction: column;
    padding-bottom: 10vh;
}
.produto img:hover{
    transform: scale(1.1);  
}
.produto img{
    border-radius: 0 4vw 0 2vw;  
    width: 20vw;
    height: 35vh;    
    box-shadow: 1vh 0.5vh 0.5vh rgb(110, 110, 110);
    object-fit: contain;
    background-color: rgb(247,247,247); 
}
.produto h2{
    font-size: 1.2rem;
    color: #1b2a5f;
    margin: 0;
    padding: 3vh 2vh 2vh 2vh;
}
.produto h3{
    margin:0;
    font-size: 1rem;
    padding-left: 2vh;
    width: 22vw;
}
.sobre{
    width: 100%;
    height: 60vh;
    display:flex;
    flex-direction: row;
    align-self: flex-start;
    padding: 10vh 0;    
}
.sobre img{     
    width: 40vw;        
    filter: brightness(70%);
}
.sobreTexto{
    flex-grow: 1;    
    padding: 10vh 20vh;
    background-color: #3a58c5; 
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}
.sobreTexto img{        
    height: 6vh;
    width: 3vw;   
    filter: brightness(100%);
    border-radius: 100%;      
}
.sobreTexto h2{
    font-size: 1.2rem;   
}
.sobreTexto h3{
    text-align: justify;
    font-size: 1rem;
    width: 80%;
    line-height: 1.5;
}   
.botão{ 
    margin-top: 2vh;    
    border-radius: 1vh;
    height: 5vh;
    width: 7vw;    
    background-color: #3048a1; 
    color: #fff;  
    font-size: 0.8rem;    
    border: none;
    text-align: center;
}
.botão:hover{
    background-color: #5576eb;
}
.parceirosComTitulo, .depoimentosComTitulo{
    width: 100%;
    margin:5vh 0;
}
.parceirosComTitulo h2, .depoimentosComTitulo h2{
    text-align: center;
    color: rgb(61, 59, 59);
    font-size: 1.6rem;
    text-shadow: 1vh 0.5vh 0.5vh  rgb(207, 207, 207);   
}
.parceiros{
    height: 15vh;    
}
.parceiros,.depoimentos{
    display: flex;
    flex-direction: row;
    justify-content:center;    
    width: 100%;   
}
.parceiro{
    width: 10vw;
    height: 15vh;
    background-color: #cdcdcd;
    margin: 4vh;
    border-radius: 1.5vh;  
}

.depoimento{
    width: 30vw;    
    border:solid 1px #cdcdcd;
    margin: 4vh;
    border-radius: 1.5vh;
    text-align: justify;
    padding: 2vh; 
}
.depoimento p{
    line-height: 1.4;
}
.assinaturaDepoimento{
    font-weight: bold;
}

@media (max-width:1024px){
    .produto img{
        height: 35vh;
    }
    .produto h2{
        font-size:1rem;
    }
    .produto h3{
        font-size:0.8rem;
    }
}
@media (max-width:639px){
    .principal{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .produto img{
        width: 40vw;
        height: 35vh;       
    }
    .produto{
        margin: 4vh;
    }
    .produto h2{
        font-size:1rem;
    }
    .produto h3{
        font-size:0.8rem;
        width: 35vw;
    }
}
@media (max-width:450px){    
    .produto img{
        width: 35vw;
        height: 28vh;       
    }
}
@media (min-height:1024px){ 
    .produto img{        
        height: 22vh;       
    }
    .produto h2{
        font-size:1.4rem;
    }
    .produto h3{
        font-size:1.3rem;        
    }
}